/////////////////////////////// VARIABLES PROPIES ///////////////
$my-color-green:                  #dddddd;
$my-color-darkblue:               #242946;

$my-white-logo: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 148 25'><g fill='none' fill-rule='evenodd'><path d='M37 6.299h5.227c.746 0 1.434.155 2.062.466.629.311 1.123.735 1.484 1.27s.542 1.12.542 1.754c0 .672-.165 1.254-.495 1.746-.33.491-.762.868-1.297 1.129v.15c.697.248 1.25.643 1.661 1.185.41.541.616 1.191.616 1.95 0 .735-.196 1.385-.588 1.951a3.817 3.817 0 0 1-1.587 1.307c-.665.305-1.403.457-2.212.457H37V6.299zm5.04 5.45c.548 0 .986-.152 1.316-.457.33-.305.495-.688.495-1.148 0-.448-.159-.824-.476-1.13-.318-.304-.738-.457-1.26-.457H39.52v3.192h2.52zm.28 5.619c.61 0 1.086-.159 1.428-.476.342-.317.513-.731.513-1.241 0-.51-.174-.927-.522-1.251-.349-.324-.847-.485-1.494-.485H39.52v3.453h2.8zm12.927 2.595c-1.307 0-2.492-.308-3.556-.924a6.711 6.711 0 0 1-2.511-2.53c-.61-1.07-.915-2.246-.915-3.528 0-1.281.305-2.457.915-3.528a6.711 6.711 0 0 1 2.51-2.529C52.756 6.308 53.94 6 55.248 6c1.306 0 2.492.308 3.556.924a6.711 6.711 0 0 1 2.51 2.53c.61 1.07.915 2.246.915 3.527 0 1.282-.305 2.458-.915 3.528a6.711 6.711 0 0 1-2.51 2.53c-1.064.616-2.25.924-3.556.924zm0-2.39a4.52 4.52 0 0 0 2.258-.578 4.177 4.177 0 0 0 1.615-1.624c.392-.697.588-1.494.588-2.39 0-.896-.196-1.692-.588-2.389a4.177 4.177 0 0 0-1.615-1.624 4.52 4.52 0 0 0-2.258-.579 4.47 4.47 0 0 0-2.25.579 4.195 4.195 0 0 0-1.605 1.624c-.392.697-.588 1.493-.588 2.39 0 .895.196 1.692.588 2.389a4.195 4.195 0 0 0 1.605 1.624 4.47 4.47 0 0 0 2.25.578zm15.353 2.39c-1.307 0-2.492-.308-3.556-.924a6.711 6.711 0 0 1-2.51-2.53c-.61-1.07-.915-2.246-.915-3.528 0-1.281.305-2.457.914-3.528a6.711 6.711 0 0 1 2.511-2.529C68.108 6.308 69.294 6 70.6 6c1.307 0 2.492.308 3.556.924a6.711 6.711 0 0 1 2.51 2.53c.61 1.07.915 2.246.915 3.527 0 1.282-.305 2.458-.914 3.528a6.711 6.711 0 0 1-2.511 2.53c-1.064.616-2.25.924-3.556.924zm0-2.39a4.52 4.52 0 0 0 2.259-.578 4.177 4.177 0 0 0 1.614-1.624c.392-.697.588-1.494.588-2.39 0-.896-.196-1.692-.588-2.389a4.177 4.177 0 0 0-1.614-1.624 4.52 4.52 0 0 0-2.259-.579 4.47 4.47 0 0 0-2.25.579 4.195 4.195 0 0 0-1.605 1.624c-.392.697-.588 1.493-.588 2.39 0 .895.196 1.692.588 2.389a4.195 4.195 0 0 0 1.606 1.624 4.47 4.47 0 0 0 2.249.578zM79.83 6.3h2.52v5.73h.15l4.89-5.73h3.043v.149L85.6 11.973l5.338 7.542v.149h-3.08l-3.994-5.693-1.512 1.773v3.92h-2.52V6.299zM93.779 6h3.248l3.546 9.39h.15L104.268 6h3.267v13.365h-2.501v-6.589l.15-2.221h-.15l-3.398 8.81h-1.96l-3.416-8.81h-.149l.15 2.221v6.59h-2.483V6zm20.8 0h2.894l5.021 13.365h-2.781l-1.12-3.192h-5.115l-1.12 3.192h-2.781L114.579 6zm3.193 7.859l-1.176-3.36-.486-1.606h-.149l-.485 1.606-1.195 3.36h3.49zM124.553 6h4.872c.871 0 1.646.18 2.324.541.678.361 1.204.862 1.577 1.503.374.64.56 1.366.56 2.175 0 .858-.27 1.62-.812 2.286a4.617 4.617 0 0 1-2.044 1.447l-.018.13 3.584 5.134v.15h-2.894l-3.453-5.022h-1.176v5.021h-2.52V6zm4.853 6.03c.573 0 1.04-.175 1.4-.523.361-.349.542-.79.542-1.326 0-.51-.172-.945-.514-1.306-.342-.361-.806-.542-1.39-.542h-2.371v3.696h2.333zm7.23-6.03h2.52v5.73h.15l4.89-5.73h3.043v.15l-4.835 5.525 5.34 7.541v.15h-3.08l-3.996-5.694-1.512 1.773v3.92h-2.52V6z' fill='#242A45' fill-rule='nonzero'/><g><circle fill='#FFF' cx='12.5' cy='12.5' r='12.5'/><path d='M9 9v10l3.54-3.44L16.078 19V9a2 2 0 0 0-2-2H11a2 2 0 0 0-2 2z' fill='#FFF'/></g></g></svg>");




/////////////////////////////// VARIABLES DE BOOTSTRAP //////////
$primary:                         #5265E1;
$secondary:                       #FA5959;

$btn-border-radius:                 0.3125rem;
$btn-border-radius-sm:              0.3125rem;
$btn-border-radius-lg:              0.3125rem;

$navbar-light-toggler-icon-bg:       url(../img/icon-hamburger.svg);
$navbar-light-toggler-border-color:  none;

$nav-link-color:                  gray;
$nav-link-hover-color:              $secondary; 
$nav-tabs-border-color:             transparent;
$nav-tabs-border-width:             0px;
$nav-tabs-border-radius:            none;
$nav-tabs-link-active-color:      black;
$nav-tabs-link-active-bg:           transparent;
$nav-tabs-link-active-border-color: transparent;

$accordion-border-width:            1px;
$accordion-button-active-bg:      white;
$accordion-button-active-color:   black;
$accordion-button-focus-box-shadow: none;

$accordion-button-icon: url(../img/icon-arrow.svg);
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 12'><path fill='none' stroke='#{$secondary}' stroke-width='3' d='M1 1l8 8 8-8'/></svg>");


.max-window-size {
    max-width: 1330px !important;
}

/////////////////////////////// NAVBAR-TOGGLER //////////////////

.navbar-toggler {
    scale: .6;
}

@media (min-width: 576px) { .navbar-toggler { scale: .7; } }

@media (min-width: 768px) { .navbar-toggler { scale: .85; } }


/////////////////////////////// PADDINGS ////////////////////////

.padding-top-main {
    padding-top: 194px;
}

@media (max-width: 576px) { 

    .padding-top-main {
        padding-top: 170px;
    }
}

/////////////////////////////// BOTONS //////////////////////////

// Botó "Login" del menú
.btn-login {
    min-width: 111px;
    min-height: 40px;
}

// Botons del reclamn
.btn-getit {
    min-width: 166px;
    min-height: 3rem;
}

// Botons "more info"
.btn-moreinfo {
    min-width: 114px;
    min-height: 3rem;
}


/////////////////////////////// NAV-TABS ////////////////////////

.nav-tabs {
    border-bottom: solid 1px lightgrey !important;
}

// .nav-item {
//     border-top: solid 1px lightgrey;
//     border-bottom: solid 1px lightgrey !important;
// }

// .my-tab {
//     border-top: solid 4px orange;
// }

// .my-tab .tab-pane {
//     border-top: solid 4px orange;
// }

#myTab li a { 
    padding: 20px 0px;
    width: 243px;
    text-align: center;
}

#myTab li a.active {
    border-bottom: solid 4px $secondary;
}


/////////////////////////////// CARDS ///////////////////////////

.card {
    border-radius: 0.3125rem !important;
}

.conjunto-cards {
    min-height: 440px;
    gap: 37px !important;
}

.my-cards {
    width: 17.5rem;
    height: 22rem;
}

.my-cards img:first-child {
    width: 100px;
}


/////////////////////////////// ACCORDION ///////////////////////

.accordion {
    // border-top: solid 1px $my-color-green;
    border-bottom: solid 1px $my-color-green;
}

@media (min-width: 992px) {
    .accordion {
        border-top: solid 1px $my-color-green;
        // border-bottom: solid 1px $my-color-green;
    }
}

.accordion-button:hover{
    color: $secondary;
}


/////////////////////////////// FOOTER //////////////////////////

footer nav {
    background-color: $my-color-darkblue;
}

footer .container-fluid {
    height: auto;
}

@media (min-width: 576px) { footer .container-fluid { height: auto; } }

@media (min-width: 768px) { footer .container-fluid { height: 360px; } }

@media (min-width: 992px) { footer .container-fluid { height: 360px; } }

@media (min-width: 1200px) { footer .container-fluid { height: 360px; } }

@media (min-width: 1400px) {
    footer .container-fluid { height: 360px; }
}

.logo-footer {
    clip-path: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 18 12'><g fill='none' fill-rule='evenodd'><path d='M37 6.299h5.227c.746 0 1.434.155 2.062.466.629.311 1.123.735 1.484 1.27s.542 1.12.542 1.754c0 .672-.165 1.254-.495 1.746-.33.491-.762.868-1.297 1.129v.15c.697.248 1.25.643 1.661 1.185.41.541.616 1.191.616 1.95 0 .735-.196 1.385-.588 1.951a3.817 3.817 0 0 1-1.587 1.307c-.665.305-1.403.457-2.212.457H37V6.299zm5.04 5.45c.548 0 .986-.152 1.316-.457.33-.305.495-.688.495-1.148 0-.448-.159-.824-.476-1.13-.318-.304-.738-.457-1.26-.457H39.52v3.192h2.52zm.28 5.619c.61 0 1.086-.159 1.428-.476.342-.317.513-.731.513-1.241 0-.51-.174-.927-.522-1.251-.349-.324-.847-.485-1.494-.485H39.52v3.453h2.8zm12.927 2.595c-1.307 0-2.492-.308-3.556-.924a6.711 6.711 0 0 1-2.511-2.53c-.61-1.07-.915-2.246-.915-3.528 0-1.281.305-2.457.915-3.528a6.711 6.711 0 0 1 2.51-2.529C52.756 6.308 53.94 6 55.248 6c1.306 0 2.492.308 3.556.924a6.711 6.711 0 0 1 2.51 2.53c.61 1.07.915 2.246.915 3.527 0 1.282-.305 2.458-.915 3.528a6.711 6.711 0 0 1-2.51 2.53c-1.064.616-2.25.924-3.556.924zm0-2.39a4.52 4.52 0 0 0 2.258-.578 4.177 4.177 0 0 0 1.615-1.624c.392-.697.588-1.494.588-2.39 0-.896-.196-1.692-.588-2.389a4.177 4.177 0 0 0-1.615-1.624 4.52 4.52 0 0 0-2.258-.579 4.47 4.47 0 0 0-2.25.579 4.195 4.195 0 0 0-1.605 1.624c-.392.697-.588 1.493-.588 2.39 0 .895.196 1.692.588 2.389a4.195 4.195 0 0 0 1.605 1.624 4.47 4.47 0 0 0 2.25.578zm15.353 2.39c-1.307 0-2.492-.308-3.556-.924a6.711 6.711 0 0 1-2.51-2.53c-.61-1.07-.915-2.246-.915-3.528 0-1.281.305-2.457.914-3.528a6.711 6.711 0 0 1 2.511-2.529C68.108 6.308 69.294 6 70.6 6c1.307 0 2.492.308 3.556.924a6.711 6.711 0 0 1 2.51 2.53c.61 1.07.915 2.246.915 3.527 0 1.282-.305 2.458-.914 3.528a6.711 6.711 0 0 1-2.511 2.53c-1.064.616-2.25.924-3.556.924zm0-2.39a4.52 4.52 0 0 0 2.259-.578 4.177 4.177 0 0 0 1.614-1.624c.392-.697.588-1.494.588-2.39 0-.896-.196-1.692-.588-2.389a4.177 4.177 0 0 0-1.614-1.624 4.52 4.52 0 0 0-2.259-.579 4.47 4.47 0 0 0-2.25.579 4.195 4.195 0 0 0-1.605 1.624c-.392.697-.588 1.493-.588 2.39 0 .895.196 1.692.588 2.389a4.195 4.195 0 0 0 1.606 1.624 4.47 4.47 0 0 0 2.249.578zM79.83 6.3h2.52v5.73h.15l4.89-5.73h3.043v.149L85.6 11.973l5.338 7.542v.149h-3.08l-3.994-5.693-1.512 1.773v3.92h-2.52V6.299zM93.779 6h3.248l3.546 9.39h.15L104.268 6h3.267v13.365h-2.501v-6.589l.15-2.221h-.15l-3.398 8.81h-1.96l-3.416-8.81h-.149l.15 2.221v6.59h-2.483V6zm20.8 0h2.894l5.021 13.365h-2.781l-1.12-3.192h-5.115l-1.12 3.192h-2.781L114.579 6zm3.193 7.859l-1.176-3.36-.486-1.606h-.149l-.485 1.606-1.195 3.36h3.49zM124.553 6h4.872c.871 0 1.646.18 2.324.541.678.361 1.204.862 1.577 1.503.374.64.56 1.366.56 2.175 0 .858-.27 1.62-.812 2.286a4.617 4.617 0 0 1-2.044 1.447l-.018.13 3.584 5.134v.15h-2.894l-3.453-5.022h-1.176v5.021h-2.52V6zm4.853 6.03c.573 0 1.04-.175 1.4-.523.361-.349.542-.79.542-1.326 0-.51-.172-.945-.514-1.306-.342-.361-.806-.542-1.39-.542h-2.371v3.696h2.333zm7.23-6.03h2.52v5.73h.15l4.89-5.73h3.043v.15l-4.835 5.525 5.34 7.541v.15h-3.08l-3.996-5.694-1.512 1.773v3.92h-2.52V6z' fill='#242A45' fill-rule='nonzero'/><g><circle fill='#5267DF' cx='12.5' cy='12.5' r='12.5'/><path d='M9 9v10l3.54-3.44L16.078 19V9a2 2 0 0 0-2-2H11a2 2 0 0 0-2 2z' fill='#FFF'/></g></g></svg>");
}

#exampleInputEmail1 {
    width: 100%;;
    height: 3rem;
}

@media (min-width: 576px) { #exampleInputEmail1 { width: 100%; } }

@media (min-width: 768px) { #exampleInputEmail1 { width: 100%; } }

@media (min-width: 992px) { #exampleInputEmail1 { width: 300px; } }

@media (min-width: 1200px) { #exampleInputEmail1 { width: 300px; } }

@media (min-width: 1400px) { #exampleInputEmail1 { width: 300px; } }

#btn-contactus {
    min-width: 100%;
    height: 3rem;
    margin-bottom: 60px;
}

@media (min-width: 576px) { #btn-contactus { width: 100%; } }

@media (min-width: 768px) { #btn-contactus { width: 100%; } }

@media (min-width: 992px) { #btn-contactus { width: 114px; } }

@media (min-width: 1200px) { #btn-contactus { width: 114px; } }

@media (min-width: 1400px) { #btn-contactus { width: 114px; } }




@import "../node_modules/bootstrap/scss/bootstrap";




/////////////////////////////// FORMES //////////////////////////

.forma-derecha {
    z-index: -1;
    width: 100%;
    height: 70%;
    border-bottom-left-radius: 25% 35%;
    top: 30%;
    left: 30%;
}

.forma-izquierda {
    z-index: -1;
    width: 100%;
    height: 352px;
    border-bottom-right-radius: 25% 35%;
    border-top-right-radius: 25% 35%;
    top: 30%;
    left: -50%;
}

@media (max-width: 575px) { 
    .forma-izquierda {
        z-index: -1;
        width: 100%;
        height: 300px;
        border-bottom-right-radius: 25% 35%;
        border-top-right-radius: 25% 35%;
        top: 30%;
        left: -50%;
    }
}

@media (min-width: 576px) { 
    .forma-izquierda {
        z-index: -1;
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 25% 35%;
        border-top-right-radius: 25% 35%;
        top: 30%;
        left: -50%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .forma-izquierda {
        z-index: -1;
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 25% 35%;
        border-top-right-radius: 25% 35%;
        top: 30%;
        left: -50%;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .forma-izquierda {
        z-index: -1;
        width: 100%;
        height: 350px;
        border-bottom-right-radius: 25% 35%;
        border-top-right-radius: 25% 35%;
        top: 30%;
        left: -50%;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1242) { 
    .forma-izquierda {
        z-index: -1;
        width: 100%;
        height: 310px;
        border-bottom-right-radius: 25% 35%;
        border-top-right-radius: 25% 35%;
        top: 30%;
        left: 80%;
    }
}


/////////////////////////////// TIPOGRAFIA //////////////////////

// Utilitzada en els textos encapsulats dins de 'p' i a les 'tabs'
.ff-rubik-light {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

// Utilitzada en els textos dels accordions
.ff-rubik-light-s {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    line-height: 2rem;
}

// Utilitzada en botons (excepte el botó del menú)
.ff-rubik-regular {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

// Utilitzada en títols (h1, h2)
.ff-rubik-bold {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;    
    word-spacing: -0.1rem;
    line-height: 3rem;
}

// Utilitzada al menú de navegació
.ff-rubik-navbar {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

// Utilitzada al footer (text petit)
.ff-rubik-footer-small {
    font-size: .75rem;
    letter-spacing: 0.33rem;
    margin-top: 70px;
}



// Tamanys de lletra
.fs-rubik-1 { font-size: .8rem; }

.fs-rubik-2 { font-size: .9rem; }

.fs-rubik-3 { font-size: 1rem; }

.fs-rubik-4 { font-size: 1.125rem; }

.fs-rubik-5 { font-size: 2rem; }

.fs-rubik-6 { font-size: 2.8rem; }

@media (max-width: 576px) { 

    .ff-rubik-bold { line-height : 2.5rem; }

    .fs-rubik-4 { font-size: .9rem; }

    .fs-rubik-5 { font-size: 1.6rem; }

    .fs-rubik-6 { font-size: 1.8rem; }
}

