/////////////////////////////// VARIABLES PROPIES ///////////////
$my-color-green:                  #dddddd;
$my-color-darkblue:               #242946;


/////////////////////////////// VARIABLES DE BOOTSTRAP //////////
$primary:                         #5265E1;
$secondary:                       #FA5959;

$btn-border-radius:                 0.3125rem;
$btn-border-radius-sm:              0.3125rem;
$btn-border-radius-lg:              0.3125rem;

$navbar-light-toggler-icon-bg:       url(../img/icon-hamburger.svg);
$navbar-light-toggler-border-color:  none;

$navbar-light-color:              black;     
$navbar-light-hover-color:          $secondary;

$navbar-dark-color: white;
$navbar-dark-hover-color: $secondary;

$list-group-bg: transparent;
$list-group-border-color: #4e526d;
$list-group-border-width: 1px;
$list-group-hover-bg: transparent;
$list-group-item-padding-y: 1rem;


$offcanvas-bg-color: #242946e3;
$offcanvas-horizontal-width: 100vw;
$offcanvas-vertical-height: 100vh;

$btn-close-bg: url(../img/icon-close.svg);

$nav-link-color:                  #797a7f;
$nav-link-hover-color:              $secondary; 
$nav-tabs-border-color:             transparent;
$nav-tabs-border-width:             0px;
$nav-tabs-border-radius:            none;
$nav-tabs-link-active-color:      black;
$nav-tabs-link-active-bg:           transparent;
$nav-tabs-link-active-border-color: transparent;

$accordion-border-width:            1px;
$accordion-button-active-bg:      white;
$accordion-button-active-color:   black;
$accordion-button-focus-box-shadow: none;

$accordion-button-icon: url(../img/icon-arrow.svg);
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 12'><path fill='none' stroke='#{$secondary}' stroke-width='3' d='M1 1l8 8 8-8'/></svg>");


$form-feedback-invalid-color: $secondary;

$form-feedback-margin-top: 150px;
$form-feedback-icon-valid-color: transparent;
$form-feedback-icon-invalid: url(../img/icon-error.svg);




.max-window-size {
    max-width: 1330px !important;
}

/////////////////////////////// NAVBAR //////////////////////////

.navbar-toggler {
    scale: .6;
}

@media (min-width: 576px) { .navbar-toggler { scale: .7; } }

@media (min-width: 768px) { .navbar-toggler { scale: .85; } }


.listamenu a:first-child {
    border-top: 1px solid #4e526d !important;
}

.listamenu a:last-child {
    border-bottom: 1px solid #4e526d !important;
    margin-bottom: 1rem;
}


/////////////////////////////// PADDINGS ////////////////////////

.padding-top-main {
    padding-top: 194px;
}

@media (max-width: 576px) { 

    .padding-top-main {
        padding-top: 170px;
    }
}

/////////////////////////////// BOTONS //////////////////////////

.btn-login { 
    width: 100%;
    min-height: 40px;
    background-color: transparent !important; 
    border: 2px solid white !important;
} 

.btn-login:hover {
    color: $my-color-darkblue !important;
    background-color: white !important;
    border: 2px solid $my-color-darkblue !important;
}


@media (min-width: 992px) { 
    .btn-login { 
        width: 111px;
        background-color: $secondary !important 
        
    } 

    .btn-login:hover {
        color: $secondary !important;
        background-color: white !important;
        border: 2px solid $secondary !important;
    }
}


.btn-getit {
    width: auto;
    min-height: 3rem;
}

.btn-getit:hover {
    color: $primary !important;
    background-color: white !important;
    border: 2px solid $primary !important;
}

.btn-getit-firefox {
    width: auto;
    min-height: 3rem;
}

.btn-getit-firefox:hover {
    color: black !important;
    background-color: white !important;
    border: 2px solid black !important;
}


.btn-cards {
    width: 80%;
    min-height: 3rem;
}

.btn-cards:hover {
    color: $primary !important;
    background-color: white !important;
    border: 2px solid $primary !important;
}

@media (min-width: 576px) { .btn-getit { width: 166px; } }

.btn-moreinfo {
    min-width: 114px;
    min-height: 3rem;
}

.btn-contact {
    min-width: 111px;
    min-height: 40px;
}


/////////////////////////////// NAV-TABS ////////////////////////

.nav-tabs {
    border-top: 1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
}

@media (min-width: 768px) { .nav-tabs { border-top: 0px solid transparent !important; } }


#myTab li a { 
    padding: 20px 0px;
    width: 243px;
    text-align: center;    
}

#myTab li { 
    border-top: 0px solid lightgrey !important; 
}

@media (max-width: 581px) { 
    #myTab li { 
        border-top: 1px solid lightgrey !important; 
    }

    #myTab li:last-child { 
        border-bottom: 1px solid lightgrey !important; 
    }

    .nav-tabs {
        border-top: 0px solid transparent !important;
        border-bottom: 0px solid transparent !important;
    }
}

#myTab li a.active {
    border-bottom: 4px solid $secondary;
}


/////////////////////////////// CARDS ///////////////////////////

.card {
    border-radius: 0.3125rem !important;
}

.conjunto-cards {
    min-height: 440px;
    gap: 37px !important;
}

.my-cards {
    width: 17.5rem;
    height: 22rem;
}

.my-cards img:first-child {
    width: 100px;
}

/////////////////////////////// ACCORDION ///////////////////////

.accordion {
    border-bottom: 1px solid $my-color-green;
}

@media (min-width: 992px) {
    .accordion {
        border-top: 1px solid $my-color-green;
    }
}

.accordion-button:hover{
    color: $secondary;
}



/////////////////////////////// FOOTER //////////////////////////

footer nav {
    background-color: $my-color-darkblue;
}


@media (min-width: 576px) { footer .container-fluid { height: auto; } }

@media (min-width: 768px) { footer .container-fluid { height: 360px; } }


#exampleInputEmail1 {
    width: 100%;;
    height: 3rem;
}

@media (min-width: 576px) { #exampleInputEmail1 { width: 100%; } }

@media (min-width: 992px) { #exampleInputEmail1 { width: 300px; } }

#btn-contactus {
    min-width: 100%;
    height: 3rem;
    margin-bottom: 60px;
}

@media (min-width: 576px) { #btn-contactus { width: 100%; } }

@media (min-width: 992px) { #btn-contactus { width: 114px; } }


.link-redes {
    text-decoration: none;
}

.redes {
    fill: white;
}

.redes:hover {
    fill: $secondary;
}

.form-control::placeholder { 
    font-family: 'Rubik', sans-serif;
    font-size: 0.88rem;
    color: #dadadc !important;
}

.form-control:-ms-input-placeholder { 
    color: #dadadc !important;
}

.form-control::-ms-input-placeholder { 
    color: #dadadc !important;
}

.my-feedback {
    background-color: $secondary;
    color: white !important;
    font-family: 'Rubik', sans-serif !important;
    font-weight: 300 !important;
    font-style: italic !important;
    font-size: .7rem !important;
    padding-left: 1rem !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 4px solid $secondary;
    margin-top: 0px !important;
}



/////////////////////////////// IMPORT BOOTSTRAP ////////////////

@import "../node_modules/bootstrap/scss/bootstrap";


/////////////////////////////// FORMES //////////////////////////

.forma-derecha {
    z-index: -1;
    width: 100%;
    height: 70%;
    border-bottom-left-radius: 25% 35%;
    top: 30%;
    left: 30%;
}

@media (min-width: 992px) { 
    .forma-derecha {
        height: 55%;
    }
}

@media (min-width: 1200px) { 
    .forma-derecha {
        height: 70%;
    }
}

.forma-izquierda {
    z-index: -1;
    width: 380px;
    height: 180px;
    border-bottom-right-radius: 25% 35%;
    border-top-right-radius: 25% 35%;
    top: 30%;
    left: -50%;
}

@media (min-width: 427px) { 
    .forma-izquierda {
        width: 450px;
        height: 200px;
    }
}

@media (min-width: 449px) { 
    .forma-izquierda {
        width: 470px;
        height: 240px;
    }
}

@media (min-width: 531px) { 
    .forma-izquierda {
        width: 550px;
        height: 270px;
    }
}

@media (min-width: 576px) { 
    .forma-izquierda {
        width: 600px;
        height: 280px;
    }
}

@media (min-width: 654px) { 
    .forma-izquierda {
        width: 630px;
        height: 290px;
    }
}

@media (min-width: 721px) { 
    .forma-izquierda {
        width: 650px;
        height: 290px;
    }
}

@media (min-width: 768px) { 
    .forma-izquierda {
        width: 650px;
        height: 100%;
    }
}

@media (min-width: 850px) { 
    .forma-izquierda {
        width: 750px;
        height: 280px;
    }
}

@media (min-width: 992px) { 
    .forma-izquierda {
        width: 610px;;
        height: 280px;
    }
}

@media (min-width: 1172px) { 
    .forma-izquierda {
        width: 650px;;
        height: 280px;
    }
}

@media (min-width: 1242) { 
    .forma-izquierda {
        width: 700px;
        height: 320px;
    }
}


/////////////////////////////// TIPOGRAFIA //////////////////////

// Utilitzada en els textos encapsulats dins de 'p' i a les 'tabs'
.ff-rubik-light {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

// Utilitzada en els textos dels accordions
.ff-rubik-light-s {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    line-height: 2rem;
}

// Utilitzada en botons (excepte el botó del menú)
.ff-rubik-regular {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

// Utilitzada en títols (h1, h2)
.ff-rubik-bold {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;    
    word-spacing: -0.1rem;
    line-height: 3rem;
}

// Utilitzada al menú de navegació
.ff-rubik-navbar {
    font-family: 'Rubik', sans-serif;
    font-style: bold;
    letter-spacing: 0.1rem;
    font-size: .9rem;
}

// Utilitzada al footer (text petit)
.ff-rubik-footer-small {
    font-size: .75rem;
    letter-spacing: 0.22rem;
    margin-top: 70px;
}


// Tamanys de lletra
.fs-rubik-1 { font-size: .8rem; }

.fs-rubik-2 { font-size: .9rem; }

.fs-rubik-3 { font-size: 1rem; }

.fs-rubik-4 { font-size: 1.125rem; }

.fs-rubik-5 { font-size: 1.2rem; }

.fs-rubik-6 { font-size: 2.8rem; }

@media (max-width: 576px) { 

    .ff-rubik-bold { line-height : 2.5rem; }

    .fs-rubik-4 { font-size: 0.95rem; }

    .fs-rubik-5 { font-size: 1.5rem; }

    .fs-rubik-6 { font-size: 1.8rem; }
}

@media (min-width: 768px) { .fs-rubik-5 { font-size: 2rem; } }

@media (min-width: 576px) { .ff-rubik-navbar { font-size: .9rem; } }

@media (min-width: 768px) { .ff-rubik-navbar { font-size: .9rem; } }

@media (min-width: 992px) { .ff-rubik-navbar { font-size: .8rem; } }



